*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-family: "Lato", sans-serif;
    height: 100vh;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


h1{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.uitleg_quiz{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;


}

.naam_invoer{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}

input {
    padding: 10px;
    width: 200%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    width: 130%;
    height: 65px;
    max-width: 300px;
    font-size: 1em;
    color: white;
    background-color: mediumblue;
    border: none;
    border-radius: 5px;
    transition: 0.2s all;
}

button:hover {
    cursor: pointer;
    background: deepskyblue;
    color: white;
}

.team-name{
    font-size: 25px;
    font-weight: normal;
    font-style: italic;
    color: gray;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.welcome-message{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 20px;
}

.quiz-themes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;

}

.theme {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 350px;
    height: 160px;
    font-size: 18px;
    color: white; /* For text contrast */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Optional for better visibility */
    border: none;
    cursor: pointer;
    background-size: cover; /* Ensures the image fills the button */
    background-position: center;
    transition: 0.3s ease; /* Smooth hover effect */
}

/* Specific button backgrounds */
.auto_logo {
    background-image: url('/images/Car-Logos.webp'); /* Replace with the actual path */
}

.country_flag {
    background-image: url('/images/country flags.png'); /* Replace with the actual path */
}

.comic_hero {
    background-image: url('/images/comic heroes.webp'); /* Replace with the actual path */
}

/* Optional: Add hover effect */
.theme:hover {
    opacity: 0.8; /* Slight transparency on hover */
    transform: scale(1.05); /* Slightly enlarges the button */
}

